{
    "protocol": "http",
    "port": 4553,
    "name": "jira api",
    "defaultResponse": {
        "statusCode": 200,
        "headers": {
            "Content-Type": "application/json; charset=utf-8"
        },
        "body": "[default]"
    },
    "stubs": [
        {
            "responses": [
                {
                    "inject": "<%- stringify(filename, 'jira-query-response-generator.ejs') %>"
                }
            ]
        }
    ]
}
